module {
    base
    
    packages {
        base false
        base-devel false
        btrfs-progs false
        intel-ucode false
        less false
        linux false
        linux-firmware false
        man-db false
        man-pages false
        networkmanager false
        nvidia-open false
        nvidia-utils false
        openssh false
        sudo false
        fzf false
        paru false
        snapper false
        yay true
    }

    services {
        bt-auto-connect true
    }

    hooks {
    }
}

