module_state {
    example_module {
        dotfiles sync=#true
        packages {
            example_package
        }
        aur_packages {
            example_aur_package
        }
        services {
            example_user_service
        }
        hooks {
            example_user_hook root=#false
        }
    }
}
