module {
    another_example_module {
        dotfiles link=#true
        packages {
            another_example_package
        }
        aur_packages {
        }
        services {
        }
        pre_hooks {
            example_root_hook.sh root=#true 
        }
        post_hooks {
        }
    }
}

