module {
    another_example_module {
        dotfiles link=#true
        packages {
            another_example_package
        }
        aur_packages {
        }
        services {
        }
        hooks {
            example_root_hook.sh root=#true
        }
    }
}

