module_state{
    example_module

    dotfiles

    packages {
        example_pacakge
    }

    aur_package {
        example_aur_package
    }

    services {
        example_user_service
    }

    hooks {
        example_root_hook privilege=root
        example_user_hook privilege=user
    }
}

