module {
    example_module {
        dotfiles link=#true
        packages {
            example_package
        }
        aur_packages {
        }
        services {
            example_user_service // implicit root=#false
        }
        pre_hooks {
            example_user_hook.sh root=#false 
        }
        post_hooks {
        }
    }
}
